# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/dist-server
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vs

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
.tmp/
.sass-cache/

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
/src/app.json.direct
/src/app.json.opportunity
/src/app.json.project
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/career-portal/config/applicationhost.config
.vs/career-portal/FileContentIndex/dfc50544-a64d-4013-a458-f01afdfdad44.vsidx
.vs/career-portal/v17/.wsuo
.vs/career-portal/v17/DocumentLayout.json
.vs/career-portal/FileContentIndex/8c884ce6-0930-4c41-b7f4-2d232b09a75a.vsidx
.vs/career-portal/FileContentIndex/12fec17b-234b-4a8a-836e-e76c49d010f9.vsidx
